.search-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1.5rem 0;
}

.search-input {
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
}

.confirm-button {
  margin-left: 8px !important;
  padding: 1.5rem !important;
  border-radius: 8px !important;
  background-color: #055FFC !important;
  color: white !important;
}

.card-container {
  display: grid;
  gap: 16px;
  padding: 16px;
}

.employee-card {
  width: 95%;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.employee-card:hover {
  transform: scale(1.05);
}

h3 {
  font-size: 18px;
  color: #333;
  margin: 0;
}
