.container {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 20px auto;
  overflow: hidden;
}
.status-overlay{
  padding-bottom: 1rem;
}

.search-input{
  padding: 0.5rem;
}

.btn-c {
  padding: 1rem;

}

.video-preview {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.pose-canvas{
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

