<!--INPUT E BOTÃO -->
<div class="container1">
  <div class="status-overlay">
    @if (mensagemDeStatus){
      {{ mensagemDeStatus }}
    } <p>Atribua a câmera a um funcionário</p>
    <p></p>
  </div>
  <input pInputText type="tel" [(ngModel)]="matriculaFuncionario" placeholder="Digite a matrícula do funcionário" class="search-input">
  <button (click)="buscarFuncionario()" mat-flat-button class="btn">Pesquisar</button>

  <div *ngIf="funcionario">
  <p><strong>Nome:</strong> {{ funcionario.nome }}</p>
  <p><strong>Cargo:</strong> {{ funcionario.cargo }}</p>
  </div>

<button (click)="atribuirFuncionario()" mat-flat-button class="btn" [disabled]="!funcionario">
  Confirmar Atribuição
</button>
</div>
<!--EXIBIÇÃO DA CAMERA E KEYPOINS-->
<div class="container-camera">
  <video #videoElement class="video-preview" autoplay muted playsinline></video>
  <canvas #canvasElement class="pose-canvas"></canvas>
</div>


