<div class="header">
  <h1 class="title">Relatório individual</h1>
  <h3 class="employee">{{ funcionario.nome }}</h3>
</div>

<div class="container">
  <!-- Seção Superior -->
  <div class="top-section">

    <!-- TOTAL DE ALERTAS -->
    <mat-card class="card">
      <span class="text">Total de alertas</span>
      <div class="content">
        <p class="alert-number">{{ funcionario.total_alertas }} alertas</p>
      </div>
    </mat-card>

    <!-- TEMPO TOTAL EM MÁ POSTURA -->
    <mat-card class="card">
      <span class="text">Tempo total de má postura</span>
      <div class="content">
        <p class="time-bad-posture">{{ funcionario.duracao_segundos }} milisegundos</p>
      </div>
    </mat-card>
  </div>

    <!-- GRÁFICO DE DESEMPENHO -->
    <mat-card class="card-bottom">
      <span class="text-bottom">Observações</span>
      <div class="content-bottom">
        <span>{{ funcionario.observacoes }}</span>
        <p class="observation"></p>
      </div>
    </mat-card>
</div>

