.title {
  color: #7B8290;
}
.container {
  padding: 20px;
}


button {
  background-color: #055FFC;
  margin-bottom: 20px;
  color: #055FFC;
}

table {
  width: 100%;
}

mat-paginator {
  margin-top: 20px;
}
