<div class="header" xmlns="http://www.w3.org/1999/html">
  <h1 class="title">Pesquise o funcionário</h1>

  <div class="search-container">
    <input
      type="text"
      pInputText
      [(ngModel)]="searchText"
      placeholder="Digite o nome"
      class="search-input"
    >

    <button mat-flat-button class="confirm-button" (click)="filterEmployee()">Pesquisar</button>

  </div>

  <div class="body">
    <div class="card-container">
      @for (filteredEmployee of filteredEmployeeList; track filteredEmployee.nome){
        <mat-card class="employee-card" [routerLink]="['/home/relatorio-individual', filteredEmployee.id]">
          <mat-card-content>
            <h3>{{ filteredEmployee.nome }}</h3>
            <p>{{ filteredEmployee.cargo }}</p>
            <p>{{ filteredEmployee.matricula }}</p>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
</div>
